.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer {
    padding: 0;
  }
}

.footer__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.3;
  padding: 0 50px;
  color: white;
  max-width: 300px;
}
.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  min-width: 280px;
}
.footer__right {
  flex: 0.4;
  display: flex;
  justify-items: space-between;
  align-items: center;
  color: white;
}

.footer__right *.MuiSlider-root {
  color: rgb(15, 184, 15);
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.5);
}

.footer__green {
  color: rgb(15, 184, 15);
}

.footer__image {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: 20px;
}

.footer__songInfo > p {
  font-size: 5px;
  overflow: hidden;
}
.footer__songInfo > h6 {
  margin-bottom: 8px;
  font-weight: 800;
  text-overflow: clip;
}

.footer__image:hover {
  transition: 200ms ease-in-out;
  transform: scale(1.4);
  box-shadow: 0 0 2px 2px rgba(91, 184, 15, 0.8);
}
