.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  flex: 0.5;
  background-color: white;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 70px;
}

.header__left > input {
  border: none;
  width: 100%;
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
}
.header__right > h4 {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .header__left {
    flex: 0.7;
    padding: 3px;
    min-width: 90px;
  }

  .header__right > h4 {
    font-weight: 400;
  }
}
