.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: rgb(3, 2, 14);
  opacity: 0.8;
}

.songRow__album {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}
